<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" />
  <title>Gráfico de Exportações</title>
</head>

<body>
  <div class="welcomePage">
    <header class="header">
        <a href="#">
            <img src="{{ url_for('static', filename='img/KernelPanic.png') }}" alt="logo" class="logo" />
        </a>


        <section class="links">
            <a href="/">Home</a>
            <a href="sobre.html">Sobre</a>
            <a href="/graficos" class="buttonHighlight">Balança Comercial</a>
            <a href="/graficos" class="buttonHighlight">Top 5 Produtos</a>
            <a href="/insights" class="buttonHighlight">Insights</a>
        </section>
    </header>
    <section class="sobre">
      <div class="conteudo">
        <div class="texto">
          <h3>Gráficos de exportação</h3>
          <p>
            Um projeto de criação de uma plataforma para filtrar e exibir dados
            de exportação de São Paulo, permitindo buscas por produto, destino e
            período. A interface apresentará as informações de forma clara, com
            gráficos e tabelas.
          </p>
          <button><a href="/graficos">Comece a consultar agora</a></button>
        </div>
        <div class="img-container">
          <img src="{{ url_for('static', filename='img/site-image.png') }}" alt="site-image" class="img" />
        </div>
      </div>
    </section>
  </div>
</body>

</html>
