<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" />
  <title>Gráfico de Exportações</title>
</head>

<body>
  <div class="welcomePage">

    <header>
      <nav class="navbar">
        <a href="#" class="nav-logo">
          <img src="{{ url_for('static', filename='img/KernelPanic.png') }}" alt="logo" class="logo" />
        </a>


        <section class="sidebar">
          <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="/graficos" class="button">Balança Comercial</a></li>
            <li><a href="#top5" class="button">Top 5 Produtos</a></li>
          </ul>
        </section>
      </nav>
    </header>

    <section class="sobre">
      <div class="conteudo">
        <div class="texto">
          <h3>Gráficos de exportação</h3>
          <p>
            Um projeto de criação de uma plataforma para filtrar e exibir dados
            de exportação de São Paulo, permitindo buscas por produto, destino e
            período. A interface apresentará as informações de forma clara, com
            gráficos e tabelas.
          </p>
          <button><a href="#grafico">Comece a consultar agora</a></button>
        </div>
        <div class="img-container">
          <img src="{{ url_for('static', filename='img/site-image.png') }}" alt="site-image" class="img" />
        </div>
      </div>
    </section>
  </div>

  

</html>