@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100%;
  position: relative;
  background-color: #043873;
  border: 1px solid #043873;
  box-sizing: border-box;
  height: 100%;
  line-height: normal;
  margin: 0;
  min-height: 100vh;
  font-family: "Space Grotesk";
}

header {
  max-width: 100vw;
  width: 100%;
  color: #043873;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  position: relative;
  align-items: center;
}

.welcomePage{
  height: 70vh;
}

button{
  cursor: pointer;
}

.nav-links {
  list-style: none;
  margin: 10px;
  padding: 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: -20px;
}

.nav-links li {
  margin: 0 20px;
  margin-top: 30px;
  font-size: 20px;
}



.button {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-color: #043872;
  margin: 10px;
  padding: 15px 25px;
  font-size: 80%;
  transition: background-color 0.3s ease;
}

a.button {
  border-color: #f3f3f3;
  border-width: 0.5px;
  padding: 15px 35px;
  border-style: double;
  border-radius: 12px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a.button:hover {
  background-color: #0e4f99;
}

.logo {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
}

.sobre {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  color: #e1d8d8;
  margin-top: 15rem;
  margin-left: 10%;
  gap: 35px;
  box-sizing: border-box;
}

.conteudo {
  border: none;
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  flex-direction: row;
  padding: 0 15px;
}

label {
  color: #fff;
}
.texto {
  flex: 1;
  max-width: 45%;
  margin-right: 30px;
}

.texto h3 {
  width: 450px;
  font-size: 36px;
  font-family: "Space Grotesk", sans-serif;
  color: #e1d8d8;
  text-align: justify;
  margin-bottom: 5px;
}

.texto p {
  width: 400px;
  font-size: 20px;
  line-height: 28px;
  font-family: "Space Grotesk", sans-serif;
  color: #fff;
  text-align: justify;
  margin-bottom: 5px;
}


#chart-container {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.img-container {
  flex: 1;
  max-width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 30px;
}

.img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.sobre button {
  width: fit-content;
  border-radius: 14px;
  border-style: none;
  background-color: #439afc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 35px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  color: #043873;
  font-family: "Space Grotesk", sans-serif;
  margin-top: 20px;
}

.sobre a {
  color: #043873;
  text-decoration: none;
  font-weight: bold;
}



@media (max-width: 1024px) {
  .logo2 {
    left: 100%;
  }
}

@media (max-width: 768px) {
  html,
  body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  .menu-icon {
    display: block;
    position: fixed;
    right: auto;
    font-size: 24px;
    color: white;
    cursor: pointer;
    z-index: 1001;
  }

  #menu-toggle {
    display: none;
  }

  .sidebar {
    width: 200px;
    height: 100vh;
    background-color: #043872;
    position: fixed;
    top: 0;
    right: -200px;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    padding-top: 40px;
    overflow: hidden;
  }

  #menu-toggle:checked ~ .sidebar {
    right: 0;
  }

  .sidebar .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
  }

  .sidebar .nav-links li {
    margin: 10px;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    border: 1px solid #f3f3f3;
    border-radius: 12px;
    width: 120px;
    cursor: pointer;
    font-size: 13px;
  }

  .sidebar .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .sidebar .nav-links a.button {
    margin: 10px;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    border: 1px solid #f3f3f3;
    border-radius: 12px;
    width: 120px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease;
  }

  .logo {
    position: relative;
    top: 30px;
    left: -110%;
  }

  .sobre {
    width: 100%;
    margin-left: 0;
    margin-top: 80px;
    padding: 0 20px;
  }

  .conteudo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .texto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
    margin-right: 0;
    text-align: center;
  }

  .texto h3 {
    width: 100%;
    font-size: 28px;
  }
  .texto p {
    width: 100%;
    text-align: center;
    font-size: 20px;
  }

  .img-container {
    max-width: 100%;
    margin-left: 0;
  }

  .img {
    width: 100%;
    height: auto;
  }

  .sobre button {
    margin: 20px auto;
  }

  .grafico1 {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0;
    padding: 20px;
    margin: 0 auto;
  }

  .grafico1 p {
    width: 100%;
    text-align: center;
  }

  .grafico1 button {
    width: 100%;
    margin-top: 7%;
  }

  .graficos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }

  .graficos img {
    width: 90%;
    max-width: 600px;
    height: auto;
    margin-top: 10px;
  }
  .graficos-1 {
    margin-top: 20px;
  }

  .graficos-2 {
    margin-top: 20px;
  }

  .filtros-container {
    gap: 10px;
  }

  .filtros-coluna {
    width: 100%;
  }

  .search-box {
    gap: 33px;
  }

  .caixa {
    width: 100%;
    background-position: 140px;
  }

  select {
    width: 100%;
  }

  input[type="text"] {
    width: 90%;
  }
}